/*#614C77 - violet*/
/*#B33A5D - pink*/

body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif,"Helvetica Neue",Helvetica,Arial;
    color: #fff;
    background-color: #dedede;
	font-size: 12px;
}

html {
    width: 100%;
    height: 100%;
}

h1
{
    margin: 0 0 35px;
    color: #B33A5D;
    font-family: 'Lobster', sans-serif;
    font-weight: normal;
	font-size: 58px;
    letter-spacing: 1px;
}

h2
{
	margin: 0 0 30px;
    color: #614C77;
    font-family: 'Lobster', sans-serif;
    font-weight: normal;
	font-size: 28px;
    letter-spacing: 1px;
}

h3{
	margin: 0 0 30px;
    color: #B33A5D;
    font-family: 'Lobster', sans-serif;
    font-weight: normal;
	font-size: 28px;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
	font-family: 'Incosolata', sans-serif;
	font-weight: normal;
    font-size: 16px;
    line-height: 1.4;
}

hr {
    
    height: 1px;
    /* Set the hr color */
    color: #333; /*old IE*/
    background-color: #333; /*Modern Browsers*/
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 18px;
        line-height: 1.4;
    }
	
	h2
	{
	margin: 0 0 30px;
    color: #614C77;
    font-family: 'Lobster', sans-serif;
    font-weight: normal;
	font-size: 28px;
    letter-spacing: 1px;
}

	h3
	{
	margin: 0 0 30px;
    color: #B33A5D;
    font-family: 'Lobster', sans-serif;
    font-weight: normal;
	font-size: 28px;
    letter-spacing: 1px;
	}
}

a {
	color: #B33A5D;
    /*color: #28c3ab;*/
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
	color: #614C77;
    /*color: #176e61;*/
}

.light {
    font-weight: 400;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif, Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
    /*background-color: #222;*/
    background-color: #614C77;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
	color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16x;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        /*background-color: #000;*/
		background-color: #614C77;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}

.odd {
	background-color: #dedede;
}

.even {
	background-color: #ababab;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-portfolio {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/portfolio-bg.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.brand-heading {
     margin: 0 0 40px;
     color: #B33A5D;
     font-family: 'Lobster', sans-serif;
     font-weight: normal;
 	font-size: 58px;
     letter-spacing: 1px;
}

.intro-text {
    font-size: 16px;
	font-weight: bold;
}


.white {
	color: #fff;
}

.black {
	color: #000;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
 /*       padding: 0;*/
    }

    .brand-heading {
        font-size: 100px;
    }

    .intro-text {
        font-size: 25px;
    }
}

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #B33A5D;
    border-radius: 35px;
    font-size: 40px;
	color: #B33A5D;	
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle-white {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
	color: #fff;	
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}



.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}


.btn-circle-white:hover,
.btn-circle-white:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.services {
  background: #7fbbda;
  padding: 50px 0;
  color: #ffffff;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 50px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  vertical-align: middle; 
  text-align: center;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 1px;
}

.contact-section {
    padding: 50px 0;
}

.showroom-section {
    padding: 50px 0;
}

.about-section {
	background-color: #614C77;
	padding: 50px 0;
}

.photos-section {
    width: 100%;
    padding: 50px 0;
	background-color: #B33A5D;
}

.circles-section {
    width: 100%;
    padding: 50px 0;
	background-color: #614C77;
}

.how-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/how-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.shop-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/shop-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 350px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 100px;
    }
	
	.how-section {
        padding-top: 50px;
		padding-bottom: 50px;
    }

    .about-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .contact-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .showroom-section {
        padding-top: 50px;
        padding-bottom: 10px;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #B33A5D;
    color: #ffffff;
    background-color: #614C77;
}

.btn-default:hover,
.btn-default:focus {
	/*28c3ab*/
    border: 1px solid #614C77;
    outline: 0;
    color: #000;
    background-color: #B33A5D;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons>li:last-child {
        margin-bottom: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}